/* For screens up to 1400px */
@media screen and (max-width: 1400px) {
  #about {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .project-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

/* For screens up to 1200px */
@media screen and (max-width: 1200px) {
  #nav {
    display: none;
  }

  #about {
    display: block;
  }

  section {
    height: fit-content;
    margin: 0 5%;
  }

  .project-containers {
    margin-top: 0;
  }
}

/* For screens up to 600px (mobile devices) */
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #about {
    height: 83vh;
    margin-bottom: 0;
  }

  .project-containers,
  .btn-container {
    flex-wrap: wrap;
  }

  .nav-links li a {
    font-size: 1rem; 
  }

  .logo {
    font-size: 1.5rem; 
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify; 
  }
}

@media screen and (max-width: 400px) {
  .image {
    display: none; /* Hide the profile photo */
  }

  .section__container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

  .content {
    text-align: center; 
    margin-top: 2rem;
  }
}